@font-face {
    font-family: 'tanomuze';
    src: url('fonts/tanomuzeCowboy-vmm6D.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/9_intro_outro_screens/start/desert.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover ;
    font-family: 'tanomuze', Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.5);
}

.content{
    display: flex;
}

canvas{
    background-color: black;
    display: block;
}

.controls{
    display: flex;
    flex-direction: column;
    color: rgb(205, 22, 22);
    gap: 20px;
    font-size: 36px;
}

.controls div{
    background-color: rgba(218, 218, 29,0.6);
}

/* screen*/

.screen{
   position: relative;
   max-width: 720px;
}

.responsiveNav{
   position: absolute;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   bottom: 9px;
}

.responsiveHeadNav{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    top: 9px;
}

.navSection{
   display: flex;
   gap: 15px;
}

.navBtn{
    background-color: rgba(218, 218, 29,0.6);
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow{

}

.jump{

}

.salsaBtn{

}


/* Smartphones */

@media only screen and (max-with: 720px){
   .screen{
    width: 100%;
   }

    canvas{
        width: 100%;
    }
}

@media only screen and (max-height: 740px){
    h1{
        display: none;
    }

    .controls div{
        display: none;
    }
}

@media only screen and (max-height: 480px){
    canvas{
        height: 100vh;
    }

    h1{
        display: none;
    }
}